{% extends 'base.html' %}

{% block title %}AcervoDigital{% endblock %}

{% block content %}
<h2>Bem vindo ao Acervo Digital, {{ user.username }}!</h2>

<h2>Livros Registrados</h3>

<ul class="container_livros">
    <container>
        {% for livro in livros %}
        <li class="livro">
            <img src="{{ livro.imagem.url }}" alt="{{ livro.nome }}" style="max-width: 200px;">
            <h3>{{ livro.nome }}</h3>
            <p>Autor: {{ livro.autor }}</p>
            <p style="font-size: 12px;">Ano: {{ livro.ano }}</p>
            {% if livro.disponivel %}
                <a href="{% url 'AcervoDigital:emprestarLivro' livro.id %}" class="btn">Pegar Emprestado</a>
            {% else %}
                <button class="btn-danger"> Indisponível</button>
                <p>(emprestado para {{ livro.contato }})</p>
            {% endif %}
        </li>
        {% empty %}
        <li>Não há livros registrados.</li>
        {% endfor %}
    </container>
</ul>


    {% endblock %}