{% load static %}
<html>
    <head>
        <title>App Enquetes</title>
    </head>
    <link rel="stylesheet" type="text/css" href="{% static 'enquetes/style.css' %}">
    <body>
        <h1>Aplicação de Enquetes - DSWeb 2024.1</h1>
        <h2>Enquete #{{ pergunta.id }}</h2>
        <h2>{{ pergunta.texto_pergunta }}</h2>
        <p><i>{{ pergunta.data_publicacao }}</i></p>
        {% if error%}
        <dt><b>Erro: {{ error }}</b></dt>
        {% endif %}
        <p>Selecione a alternativa</p>
         <form action="{% url 'enquetes:votacao' pergunta.id %}"
            method="post">
            {% csrf_token %}
        <ul>
            {% for alt in pergunta.alternativa_set.all %}
            <li>
                <input type="radio" name="escolha" value="{{ alt.id }}"
                    id="alt{{ forloop.counter }}"/>
                <label for="alt{{ forloop.counter }}">
                    {{ alt.texto_alternativa }}
                </label>
            </li>
            {% endfor %}
        </ul>
        <input type="submit" id = "value" value="Registre seu voto">
        </form>
        <hr>
        <a href="{% url 'enquetes:index' %}"><b>Voltar</b></a>
    </body>
</html>