<html>
    <head>
        <title>App Enquetes</title>
    </head>
    <body>
        <h1>Resultado da enquete - DSWeb 2024.1</h1>
        <h2>Enquete #{{ pergunta.id }}</h2>
        <h3>Seu voto foi computado! Obrigado!</h3>
        <h2>{{ pergunta.texto_pergunta }}</h2>
        <p><i>{{ pergunta.data_publicacao }}</i></p>
        {% if error%}
        <dt><b>Erro: {{ error }}</b></dt>
        {% endif %}
        <p>Quantidade de votos por alternativas:</p>
        <ul>
            {% for alt in pergunta.alternativa_set.all %}
            <li>{{ alt.texto_alternativa }} = {{ alt.votos }}
                voto{{ alt.votos | pluralize }}
            </li>
            {% endfor %}
        </ul>
        <hr>
        <a href="{% url 'enquetes:votacao' pergunta.id %}">Votar Novamente</a>
        <a href="{% url 'enquetes:index' %}">Voltar</a>
    </body>
</html>